@import "./utils/variables";
@import "./utils/utils";
@import "./utils/placeholders";
@import "./components/header";
@import "./components/index_hero";
@import "./components/index_advantages";
@import "./components/index_works";
@import "./components/index_team";

body {
  /* width: 1600px; */
  margin: 0;
  font-family: roboto, sans-serif;
}
