%visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
%logo {
  font-family: raleway;
  color: $blue-color;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-decoration: none;
}
%social-icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: currentColor;
}
%social-link {
  display: block;
  padding: 12px 12px;
  border: 0;
  border-radius: 50%;
}
