img {
  display: block;
}
.section-header {
  margin-bottom: 50px;
  color: var(--dark-gray-color);
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
}
.section {
  padding: 94px 0;
}
.section-header {
  margin: 0;
  text-align: center;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container > .list {
  margin: 0 0 0 0;
  padding: 0;

  display: flex;
  justify-content: space-between;

  list-style-type: none;
}
